{% extends "base.html" %}
{% block title %}AboutMe{% endblock %}
{% set active_page = "aboutme"-%}
{% block body %}
<main>
    <div class="container">
        <h1>About Me</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet, augue accumsan lobortis tincidunt, sapien enim venenatis risus, ac pretium magna sem malesuada arcu. Ut lobortis mi id ultricies sodales. Maecenas vel nunc eget diam aliquet consequat. Phasellus venenatis dictum eleifend. Donec eu nunc enim.</p>
    </div>
</main>
{% endblock %}
